.Dashboard {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
}
.Dashboard_Content {
    flex-grow: 1;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 65px calc(100% - 65px);
    grid-template-columns: 240px calc(100% - 240px);
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    position: relative;
    overflow: hidden;
}
.Dashboard_Main {
    grid-area: main;
    overflow-x: overlay;
}